@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-archivo: Archivo;
  --font-chivo: Chivo;
  --font-red-hat-display: "Red Hat Display";
  --font9: Inter;
  --font7: Quicksand;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-2xs: 10px;
  --font-size-xs: 12px;
  --font4-size: 14px;
  --font8-size: 16px;
  --font9-size: 20px;
  --font7-size: 24px;
  --font-size-2xl: 56px;

  /* Colors */
  --color-gray-100: #f7f9fa;
  --color16: #f7f7fa;
  --color14: #fdedf2;
  --color-gray-400: #f1f3f4;
  --color7: #ebf2ff;
  --color12: #ecf7ed;
  --color4: #ededf0;
  --border-color1: #9dc2ff;
  --border-color5: #b4b4bb;
  --color15: #9696a0;
  --color9: #787885;
  --color-gray-1200: #5e6366;
  --border-color4: #5a5b6a;
  --color10: #4a4b57;
  --color-gray-1500: #3e4345;
  --color1: #0c2146;
  --color17: #19191d;
  --color-gray-1800: rgba(0, 0, 0, 0.87);
  --color-black: #000;
  --border-color2: #fff;
  --border-color: #b4bbe2;
  --color-indigo-100: #367bf5;
  --border-color3: #2979ff;
  --color5: #2264d1;
  --color6: #f44336;
  --color-green-100: #2fa84f;
  --color11: #37833b;
  --color13: #c23564;

  /* Gaps */
  --gap-sm: 2px;
  --gap-md: 8px;

  /* Paddings */
  --padding-sm: 6px;
  --padding-md: 12px;
  --padding-lg: 16px;

  /* border radiuses */
  --br-2xs: 1.11px;
  --br-xs: 1.33px;
  --br-sm: 2px;
  --br-md: 4px;
  --br-lg: 8px;
  --br-xl: 32px;
  --br-2xl: 99px;

  /* Effects */
  --effect: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
  --effect1: 0px 1px 2px rgba(43, 102, 46, 0.24),
    0px 2px 4px rgba(67, 160, 71, 0.24);
  --effect2: 0px 1px 2px rgba(27, 78, 163, 0.24),
    0px 2px 4px rgba(41, 121, 255, 0.24);
  --effect3: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
  --effect4: 0px 2px 4px rgba(59, 69, 123, 0.2),
    0px 4px 8px rgba(92, 107, 192, 0.2);
}
